---
interface Props {
  postTitle: string;
  url: string | undefined;
  pubDate: Date;
}

const { postTitle, url, pubDate } = Astro.props;
const currentLocale = Astro.currentLocale || "en";

const formatDate = (date: Date, locale: string) => {
  const utcDate = new Date(date.getTime() + date.getTimezoneOffset() * 60000);
  const month = String(utcDate.getMonth() + 1).padStart(2, "0");
  const day = String(utcDate.getDate()).padStart(2, "0");
  const year = utcDate.getFullYear();

  if (locale === "pt-br") {
    return `${day}/${month}/${year}`;
  } else {
    return `${month}-${day}-${year}`;
  }
};

const publishDate = new Date(pubDate);
const formattedDate = formatDate(publishDate, currentLocale);
---

<li>
  <a href={url} class="post-link">
    <span class="post-title">{postTitle}</span>
    <span class="post-date">{formattedDate}</span>
  </a>
</li>

<style>
  li {
    list-style: none;
  }

  .post-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 30px;
  }

  .post-link:hover {
    transform: translate(4px, -4px) scale(1.02);
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    color: var(--link-color);
  }

  .post-title {
    flex: 1;
  }

  .post-date {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .post-link {
      gap: 8px;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }

    .post-link:hover {
      transform: translate(2px, -2px) scale(1.01);
    }
  }

</style>